*,
body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 300px;
  margin: 230px auto;
  background-color: white;
  border: rgb(55, 89, 255) solid 2px;
  border-radius: 8px;
  box-shadow: 3px 4px 40px black;
  display: flex;
  padding: 20px;
}
.text {
  text-align: center;
}
.inputs {
  margin: 0 auto;
  padding: 2px;
}
.inputs input {
  width: 240px;
}
input {
  padding: 6px;
  margin: 3px;
  border: blue solid 3px;
  border-radius: 6px;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.low-text {
  margin: 0 4px;
  color: rgb(18, 20, 23);
}
img {
  display: none;
}
.box {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(162, 46, 124, 0.3), rgba(142, 14, 175, 0.3));
}

/* background video */
video {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media (min-width: 768px) {
  img {
    display: block;
  }
  .container {
    padding: 0;
    min-width: 575px;
    box-shadow: 0 16px 33px black;
  }
  .text h2 {
    font-size: 40px;
  }
  .text {
    padding-top: 10px;
  }
  .left-container {
    padding: 0 4px;
  }
}
